<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Sinatraデモ</title>
  </head>
  <body>
    <h1>Hello World!!</h1>
    <table>
      <tr>
        <th>天気</th>
        <td><img src= "<%= @whether['condition']['icon'] %>"></td>
      <tr>
    </table>
  </body>
</html>

